version: "3.8"

services:

  mongodb:
    image: mongo:6
    container_name: mongodb
    volumes:
      - mongo_data:/data/db

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  backend:
    image: 091113170910.dkr.ecr.ap-south-1.amazonaws.com/ib-backend:latest
    container_name: deal-backend
    ports:
      - "8081:8080"
    depends_on:
      - mongodb
      - kafka
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/deal_pipeline_db
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  frontend:
    image: 091113170910.dkr.ecr.ap-south-1.amazonaws.com/ib-frontend:latest
    container_name: deal-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - backend

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
